{% extends 'base.html.twig' %}

{% block body %}
  {{ form_start(form) }}
  {{ form_row(form.style) }}
  {{ form_row(form.submit) }}
  {{ form_end(form) }}

  <div id="response"></div>
{% endblock %}
